.main-header {
	background-color: #222;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

.title {
	color: #61dafb;
	font-size: 45px;
}

.subtitle {
	font-size: 24px;
	font-weight: 200;
	letter-spacing: 0.01em;
	padding: 15px;
	text-align: center;
}
